# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
.env
.venv/
venv/
*.sqlite3

# Virtualenv
ENV/
env/
*.env

# Alembic
alembic/versions/*.pyc
alembic/__pycache__/

# VSCode
.vscode/

# macOS
.DS_Store
**/.DS_Store

# Logs
*.log

# mypy/pytest
.mypy_cache/
.pytest_cache/

# Docker
**/__pycache__/
*.pid
*.db

# Database dumps
*.sql
*.dump

# Coverage
htmlcov/
.coverage
.coverage.*

# Uvicorn reload artifact
.reload
